api:
  dashboard: true
  debug: true

entryPoints:
  http:
    address: ":80"
  https:
    address: ":443"

providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: true
    swarmMode: true
    watch: true
  file:
    filename: /config.yml

certificatesResolvers:
  http:
    acme:
      email: {{ acme_email }}
      storage: {{ docker_data_dir }}/traefik_data/letsencrypt/acme.json
      # Uncomment to use Let's Encrypt's staging server, leave commented for prod
      caServer: "https://acme-staging-v02.api.letsencrypt.org/directory"
      dnsChallenge:
        provider: {{ acme_dns_provider }}

        # By default, the provider will verify the TXT DNS challenge record before letting ACME verify.
        # If delayBeforeCheck is greater than zero, this check is delayed for the configured duration in seconds.
        delayBeforeCheck: 0

        # Use following DNS servers to resolve the FQDN authority.
        #
        # Optional
        # Default: empty
        #
        # resolvers
        # - "1.1.1.1:53"
        # - "8.8.8.8:53"